<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.2.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="2.2.0" targetFramework="net45" />
  <package id="Common.Logging.NLog" version="2.0.0" targetFramework="net45" />
  <package id="DuoVia.FuzzyStrings" version="1.0.1" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net45" />
  <package id="Mono.Net.HttpListener" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
  <package id="SharpYaml" version="1.2.0" targetFramework="net45" />
  <package id="ShortGuid" version="1.0.0" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.93.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.93.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.93.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.93.0" targetFramework="net45" />
</packages>