body {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol' !important;
}
header.navbar {
    position: sticky;
    top: 0;
}

header {
    position: static;
    top: 0;
}

#breadcrumb {
    position: sticky;
    top: 0;
    z-index: 100;
}

.bg-primary {
    background-color: #f8f9fa !important;
}

.bd-navbar {
    min-height: 4rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
}

.bd-navbar .navbar-nav .nav-link, ul.nav.level1.navbar-nav > li {
	transition: all .3s;
	margin-right: .5rem;
	margin-left: .5rem;
	text-transform: uppercase;
	font-family: round, Nunito, Roboto, -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, sans-serif;
	border-bottom: 2px solid;
	border-bottom-color: transparent;
	padding: 0;
}

ul.nav.level1.navbar-nav > li > a {
    color: rgba(0,0,0,.5);
}

ul.nav.level1.navbar-nav > li > a:hover {
    color: rgba(0,0,0, 0.8);
    text-decoration-line: none;
}

.nav-link {
    border-bottom: 2px solid;
    border-bottom-color: transparent;
    transition: all .3s;
}

.bd-navbar .nav-item.active > .nav-link {
    border-bottom-color: #e4bfff;
}

.footer {
    margin-top: auto;
    background: #f6f8f8;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 13px;
    line-height: 32px;
    text-align: center;
    border-top: 1px solid #e8e8e8;
    z-index: 1037;
}

.subnav {
    font-weight: 300;
    font-family: 'Roboto Mono', 'Consolas', 'Menlo', 'Courier', monospace;
}

.article {
    min-height: calc(100vh - 100px);
    flex-grow: 1;
}

.toc ul {
    max-height: calc(100vh - 250px);
}

body .toc {
    max-height: 100vh;
}

.sidetoc {
    top: 70px;
    position: sticky;
    height: auto;
    padding-bottom: 15px;
    border-radius: 0 0 5px 5px;
}

.affix ul {
    flex-direction: column;
    margin-right: 0px;
}

.breadcrumb {
    border-radius: 0px;
    width: 100%;
    font-size: 0.7em;
    color: #0f0f0f;
    background: white;
    border-bottom: 2px solid #e4bfff;
}

.breadcrumb > li > a {
    color: rgba(0,0,0, 0.8);
    font-family: 'Roboto Mono', Consolas, Menlo, Courier New, Courier, monospace;
}

.toc .nav > li.active > a {
    color: #e4bfff;
    font-weight: bold;

}

.affix > ul.level1 {
    margin-right: 0px;
}

.toc .nav > li > a {
	font-family: round, Nunito, Roboto, -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, sans-serif;
}

.sidefilter {
    top: 50px !important;
    z-index: 10;
    position: sticky;
    border-radius: 5px 5px 0 0;
}

.affix ul > li.active > ul, .affix ul > li.active > a::before, .affix ul > li > a:hover::before {
    display: block;
    white-space: nowrap;
}

.affix ul {
    text-transform: uppercase;
	font-family: round, Nunito, Roboto, -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, sans-serif;
}

.affix ul > li {
    position: relative;
}

.affix ul > li > a::before {
    color: #cccccc;
}

.affix > ul > li > a::before {
    content: "|";
    font-size: 16px;
    font-weight: bold;
    font-family: Nunito, Roboto, -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, sans-serif;
    top: -4px;
    left: 0;
    color: transparent;
    position: absolute;
}

.affix > ul > li > a:hover::before {
    content: "|";
    font-size: 16px;
    font-weight: bold;
    font-family: Nunito, Roboto, -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, sans-serif;
    top: -4px;
    left: 0;
    color: #e4bfff;
    position: absolute;
}

.xref {
    font-family: 'Roboto Mono', Consolas, Menlo, Courier New, Courier, monospace;
}

.graphql-container {
    max-width: 100vw !important;
    padding: 0;
    height: 100vh;
    position: relative;
    top: 0;
}

.graphql-schema {
    width: 100%;
    height: 100%;
    border: none;
}

#sidetoc {
    height: 100%;
}
  
#sidetoc > div {
    height: 100%;
}

.sidenav {
    background-color: unset;
}