[submodule "Snowflake.Shell.Windows.ElectronUserInterface/ui-electron-win64"]
	path = Snowflake.Shell.Windows.ElectronUserInterface/ui-electron-win64
	url = https://github.com/SnowflakePowered/snowflake-electron-dist-win64
