<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="myget-graphql-dotnet" value="https://myget.org/F/graphql-dotnet/api/v3/index.json" />
        <add key="myget-snowflake" value="https://www.myget.org/F/snowflake-nightly/api/v3/index.json" />
        <add key="github-snowflake" value="https://nuget.pkg.github.com/SnowflakePowered/index.json" />
    </packageSources>
</configuration>
