<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crc32" version="1.0.0" targetFramework="net45" requireReinstallation="true" />
  <package id="Dapper" version="1.50.0-beta8" targetFramework="net45" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.102.0" targetFramework="net452" />
</packages>