<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.0-beta8" targetFramework="net45" requireReinstallation="true" />
  <package id="Fleck" version="0.13.0.57" targetFramework="net45" />
  <package id="Mono.Net.HttpListener" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net45" />
  <package id="NLog" version="4.2.3" targetFramework="net45" />
  <package id="SharpYaml" version="1.5.3" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.99.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Data.SQLite.Linq" version="1.0.102.0" targetFramework="net452" />
</packages>