<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net462" />
  <package id="Dapper" version="1.50.2" targetFramework="net462" />
  <package id="Enums.NET" version="1.0.0" targetFramework="net462" />
  <package id="FastMember" version="1.1.0" targetFramework="net462" />
  <package id="Fleck" version="0.13.0.57" targetFramework="net45" />
  <package id="Mono.Net.HttpListener" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NLog" version="4.3.7" targetFramework="net462" />
  <package id="SharpYaml" version="1.5.3" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.2.0" targetFramework="net462" />
  <package id="System.Data.SQLite.Core" version="1.0.102.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.102.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.3.0-preview1-24530-04" targetFramework="net462" />
</packages>