@import url(https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,300,100|Nunito:300|Roboto+Slab:400,300,200,100);
@font-face {
  font-family: 'round';
  src: url('/fonts/round.otf');
  font-weight: lighter;
}
@font-face {
  font-family: 'round';
  src: url('/fonts/round_reg.ttf');
  font-weight: normal;
}


// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont,
  'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol' !default;
  // Font, line-height, and color for body text, headings, and more.
$font-family-serif: 'Roboto Slab', 'Consolas', 'Menlo', serif, !default;

$font-family-title: 'round', 'Nunito', $font-family-sans-serif, !default;

$font-family-monospace: 'Roboto Mono', 'Consolas', 'Menlo', monospace, !default;

$font-family-base: $font-family-sans-serif !default;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: 1.25rem !default;
$font-size-sm: 0.875rem !default;
$font-size-xs: 0.75rem !default;

$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$h1-font-size: 1.6rem !default;
$h2-font-size: 1.4rem !default;
$h3-font-size: 1.2rem !default;
$h4-font-size: 1.1rem !default;
$h5-font-size: 1.05rem !default;
$h6-font-size: 1rem !default;

// $headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family: inherit !default;
$headings-font-weight: 600 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

$display1-size: 6rem !default;
$display2-size: 5.5rem !default;
$display3-size: 4.5rem !default;
$display4-size: 3.5rem !default;


$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #03a9f4 !default;
$indigo: #3f51b5 !default;
$purple: #673ab7 !default;
$pink: #e91e63 !default;
$red: #f44336 !default;
$orange: #ff5722 !default;
$yellow: #ffab00 !default;
$green: #8bc34a !default;
$teal: #009688 !default;
$cyan: #00bcd4 !default;

$lilac: #e4bfff !default;
$periwinkle: #d4e5ff !default;


html {
    height: 100%;
    font-family: $font-family-sans-serif;
}

body {
    min-height: 100%;
    display: block;
    padding: 0;
    margin: 0;
}

nav {
    left: $spacing-none;
    top: $spacing-none;
    width: 30%;
    max-width: $size-medium;
    padding: $spacing-none;
    background: white;
    z-index: $z-index-sticky;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    box-shadow: $shadow-drop-down;
    transform: translateX(0);
    transition: #{$duration-promptly} transform ease;
    @media (max-width: #{$mq-medium}) {
        transform: translateX(-100%);
        width: $size-medium;
        &.is-active {
            transform: translateX(0);
        }
    }
}

nav sup {
    font-style: italic;
    opacity: .7;
}

header a {
    text-decoration: none !important;
}

main section,
main footer {
    width: 100%;
    padding: 0 0 0 30%;
    position: relative;
    @media (max-width: #{$mq-medium}) {
        padding-left: 0;
    }
    @media (min-width: 70rem) {
        padding-left: 21rem;
    }
}

main .title,
main footer {
    padding-bottom: $spacing-xx-large;
}

main .title {
    background: $gray-900;
    background: linear-gradient(5deg, $lilac, $periwinkle);
    color: $gray-100;
    overflow: hidden;
    z-index: 10;
    position: relative;
    &::before {
      content: ' ';
      z-index: -1;
      overflow: hidden;
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
    }
  
    .container {
      z-index: 11;
    }
}

main .title .slds-text-title--caps,
main .title .slds-button {
    color: inherit
}

main .container {
    box-sizing: border-box;
    padding: $spacing-small $spacing-large;
    max-width: $size-xx-large;
    @media (max-width: #{$mq-medium}) {
        overflow: auto;
    }
}

main code.highlight {
    display: block;
    background: #4D4D4C;
    position: relative;
    box-shadow: $elevation-shadow-4;
    padding: $spacing-xxx-small;
    padding-top: $spacing-large;
    border-radius: $border-radius-medium;
    min-width: 50rem;
}

main code.highlight::after,
main code.highlight::before {
    content: "";
    display: block;
    height: $spacing-small;
    width: $spacing-small;
    position: absolute;
    top: $spacing-x-small; //border: 1px solid darken($color: #4D4D4C, $amount: 10%);
    border-radius: 100%;
    cursor: pointer;
}

main code.highlight::before {
    background: $color-background-destructive;
    left: $spacing-x-small;
}

main code.highlight::after {
    background: lighten($color: #4D4D4C, $amount: 10%);
    left: $spacing-x-small + $square-icon-utility-small + $spacing-xx-small;
}

.less-than-medium {
    @media (min-width: #{$mq-medium}) {
        display: none;
    }
}

.less-than-small {
    @media (min-width: #{$mq-small}) {
        display: none;
    }
}

.graphdoc-section__title {
    border-bottom: #{$border-width-thin} solid #{$color-border};
    margin-bottom: $spacing-large;
    position: relative;
}

.graphdoc-section__title a {
    position: absolute;
    right: 100%;
    display: block;
    opacity: 0;
    width: 2rem;
    padding: 0 0.4rem;
}

.graphdoc-section__title:hover a {
    opacity: 1;
}

.graphdoc-section__title a .material-icons {
    font-size: 1.2rem;
}

.slds-text-title--caps {
    font-family: $font-family-title;
}

.slds-navigation-list--vertical .slds-is-active .slds-navigation-list--vertical__action {
    border-left-color: $periwinkle;
    background-color: lighten($periwinkle, 5%);
    color: darken($periwinkle, 50%);
}

.code, code {
    font-family: $font-family-monospace !important;
}